@using Phobos.Helpers
@{
    List<SideTabViewModel> sideTabs = ViewBag.SideTabs ?? new List<SideTabViewModel>();
}
<header class="main-header">
    <a href="@Url.Content("~")" class="logo">
        <span class="logo-mini">
            @if (!string.IsNullOrEmpty((string)ViewBag.ShortPageTitle))
            {
                @Html.FirstWordInBold((string)ViewBag.ShortPageTitle)
            }
            else
            {
                <text><i class="fa fa-wrench"></i></text>
            }
        </span>
        <span class="logo-lg">@Html.FirstWordInBold((string)ViewBag.PageTitle)</span>


    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @Html.Partial("_MessagesMenu")
                @Html.Partial("_NotificationsMenu")
                @Html.Partial("_TasksMenu")
                @Html.Partial("_UserAccountMenu")

                @if (sideTabs.Count > 0)
                {
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>