@using Phobos.Helpers
@using Phobos.Library.Utils
@using Phobos.Utils;
@{
    List<UserMessageViewModel> userMessages = ViewBag.UserMessages;
}
<li class="dropdown messages-menu">

    @if (userMessages.Count > 0)
    {
        <a href="@Url.Action("Index","Message")" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">@userMessages.Count</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have @userMessages.Count messages</li>
            <li>
                <ul class="menu">
                    <li>
                        @foreach (var message in userMessages)
                        {
                            <a href="#">
                                <div class="pull-left">
                                    <img src="@message.User.ImageUrl" class="img-circle" alt="@message.User.FullName">
                                </div>
                                <h4>
                                    @message.Title
                                    &nbsp;
                                    <small><i class="fa fa-clock-o"></i> <span title="@Html.TimeAgo(message.SentDate)"></span> </small>
                                </h4>
                                <p>@System.Text.RegularExpressions.Regex.Replace(message.Message, @"<[^>]*>", String.Empty)</p>
                            </a>
                        }
                    </li>
                </ul>
            </li>
            <li class="footer"><a href="@Url.Action("Index","Message")">See All Messages</a></li>
        </ul>
    }
    else
    {
        <a href="@Url.Action("Index","Message")">
            <i class="fa fa-envelope-o"></i>
            @if (userMessages.Count > 0)
            {
                <span class="label label-success">@userMessages.Count</span>
            }
        </a>
    }
</li>
