@{
    List<UserNotificationViewModel> userNotifications = ViewBag.UserNotifications;
}



@{
    List<UserMessageViewModel> userMessages = ViewBag.UserMessages;
}
<li class="dropdown messages-menu">

    @if (userNotifications.Count > 0)
    {
        <a href="@Url.Action("Index", "Notification")">
            <i class="fa fa-bell-o"></i>
            @if (userNotifications.Count > 0)
            {
                <span class="label label-warning">@userNotifications.Count</span>
            }
        </a>
        <ul class="dropdown-menu">
            <li class="header">You have @userNotifications.Count notifications</li>
            <li>
                <ul class="menu">
                    <li>
                        @foreach (var item in userNotifications)
                        {
                            <a href="@Url.Action("GoToNotification", "Notification", new { id = item.Id })">
                                <i class="fa @item.FontAwesome @item.Color.ToCssClass()"></i> @item.Title
                            </a>
                        }
                    </li>
                </ul>
            </li>
            <li class="footer"><a href="@Url.Action("Index", "Notification")">See All</a></li>
        </ul>
    }
    else
    {
        <a href="@Url.Action("Index", "Notification")">
            <i class="fa fa-bell-o"></i>
            @if (userNotifications.Count > 0)
            {
                <span class="label label-warning">@userNotifications.Count</span>
            }
        </a>
    }
</li>

