@{
    List<UserTaskViewModel> userTasks = ViewBag.UserTasks;
}
<li class="dropdown tasks-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-flag-o"></i>
        @if (userTasks.Count > 0)
        {
            <span class="label label-danger">@userTasks.Count</span>
        }
    </a>
    @if (userTasks.Count > 0)
    {
        <ul class="dropdown-menu">
            <li class="header">You have @userTasks.Count tasks</li>
            <li>
                <ul class="menu">
                    <li>
                        @foreach (var item in userTasks)
                        {
                            <a href="#">
                                <h3>
                                    @item.Title
                                    <small class="pull-right">@item.Percentage%</small>
                                </h3>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-aqua" style="width: @item.Percentage%" role="progressbar" aria-valuenow="@item.Percentage" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">@item.Percentage% Complete</span>
                                    </div>
                                </div>
                            </a>
                        }
                    </li>
                </ul>
            </li>
            <li class="footer">
                <a href="#">View all tasks</a>
            </li>
        </ul>
    }
</li>
